*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: darkcyan;
}
header{
    background-color: orangered;
    color: bisque;
    padding: 1rem 0;
    text-align:center;
}
main{
    padding: 2rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

}
th,td{
   border: 1px  solid;
   padding: 8px;
   text-align:left;

}
th{
    background-color: brown;
}
footer{
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(255, 60, 0);
    color: azure;
    margin-top: 2rem;
}
